@import "src/styles.scss";

.container {
    position:absolute; 
    left:0px;
    top:55px;
    right:0px;
    bottom:0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    width: 98%;
}

.example-table-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
}

tr.contact-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}
  
tr.contact-row:not(.example-expanded-row):active {
    background: #efefef;
}

.floating-action-button {
    color: mat-color($address-book-accent);
    position: fixed;
    bottom: 25px;
    right: 25px;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: mat-color($address-book-primary);
}