@import '~@angular/material/theming';

@include mat-core();

$address-book-primary: mat-palette($mat-indigo);
$address-book-accent: mat-palette($mat-pink, A200, A100, A400);
$address-book-warn: mat-palette($mat-red);

$address-book-theme: mat-light-theme((
  color: (
    primary: $address-book-primary,
    accent: $address-book-accent,
    warn: $address-book-warn,
  )
));

@include angular-material-theme($address-book-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
